.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0;
    height: auto;
    margin-bottom: 10px;
    background-color: white;

    /* border: 1px solid grey; */
}
