.movies__list {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-row-gap: 20px;
   column-gap: 20px;
   margin-bottom: 20px;
   margin-top: 0;
   list-style-type: none;
   padding: 0;
   padding: 0 16px;
}

.spin__image {
   width: 100%;
   height: 245px;
   margin: auto;
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-spin-lg .ant-spin-dot {
   font-size: 62px;
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-spin-lg .ant-spin-dot i {
   width: 24px;
   height: 24px;
}

.movies__list_image {
   object-fit: contain;
}
