.movies__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 245px;
    grid-row-gap: 20px;
    column-gap: 20px;
    margin-bottom: 20px;
    list-style-type: none;
    padding: 0;
}
