.movies__list {
   width: 97%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 30px;
   margin: auto;
   margin-bottom: 20px;
   list-style-type: none;
   padding: 0;
}

.spin__image {
   width: 100%;
   height: 245px;
   margin: auto;
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-spin-lg .ant-spin-dot {
   font-size: 62px;
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-spin-lg .ant-spin-dot i {
   width: 24px;
   height: 24px;
}

.movies__list_image {
   object-fit: contain;
}

@media (max-width: 980px) {
   .movies__list {
      display: grid;
      grid-template-columns: 1fr;
      width: 90%;
      padding: 0;
   }
}
