.movies__list_item {
   display: flex;
   flex-direction: row;

   box-shadow: 5px 5px 17px -1px rgba(0, 0, 0, 0.37);
   height: 270px;
}

.movies__list_card {
   position: relative;
   width: 58%;
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-card .ant-card-head {
   border: none;
   min-height: 40px;
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-card .ant-card-body {
   padding: 0 20px 0 20px;
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-btn {
   height: 22px;
   font-size: 12px;
   background-color: #f3eded;
}

.movies__list_rate {
   position: absolute;
   top: 235px;
   left: 10px;
}

.movies__list_rating {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 7px;
   left: 88%;

   font-size: 12px;

   width: 28px;
   height: 28px;

   border: 2px solid grey;
   border-radius: 50%;
}

.movies__list_release {
   margin-bottom: 5px;
}

.orange {
   border-color: #e97e00;
}

.red {
   border-color: #e90000;
}

.yellow {
   border-color: #e9d100;
}

.green {
   border-color: #66e900;
}

.movies__list_box {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-top: 8px;
}

.movies__list_title {
   font-size: 20px;
   width: 230px;
   padding-bottom: 4px;
   line-height: 1.2;
}

.movies__list_description {
   margin-top: 5px;
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-spin .ant-spin-dot {
   top: 100px;
}

@media (max-width: 520px) {
   .movies__list_rate {
      top: 230px;
   }

   :where(.css-dev-only-do-not-override-1pg9a38).ant-rate {
      font-size: 11px;
   }

   .movies__list_rating {
      left: 80%;
   }
}
