.movies__list_item {
   /* position: relative; */
   display: flex;
   flex-direction: row;

   box-shadow: 5px 5px 17px -1px rgba(0, 0, 0, 0.37);
   /* height: 279px; */
}

.movies__list_card {
   position: relative;
   width: 300px;
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-card .ant-card-head {
   border: none;
   /* padding: 0; */
   min-height: 40px;
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-card .ant-card-body {
   /* position: absolute; */
   padding: 0 20px 0 20px;
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-btn {
   height: 22px;
   font-size: 12px;
   background-color: #f3eded;
}

.movies__list_rate {
   position: absolute;
   top: 210px;
   left: 10px;
}

.movies__list_rating {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   left: 100px;
   top: 7px;
   left: 255px;

   font-size: 12px;

   width: 28px;
   height: 28px;

   border: 2px solid grey;
   border-radius: 50%;
}

.movies__list_release {
   margin-bottom: 5px;
}

.yellow {
   border-color: yellow;
}

.movies__list_box {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-top: 8px;
}

.movies__list_title {
   font-size: 20px;
   width: 230px;
   padding-bottom: 4px;
   line-height: 1.2;
}

.movies__list_description {
   margin-top: 5px;
}

.spin__image {
   width: 450px;
   height: 245px;
   /* font-size: 45px; */
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-spin .ant-spin-dot {
   top: 100px;
}
