.movies__list_item {
   display: flex;
   flex-direction: row;
   /* height: 279px; */
}

.movies__list_card {
   position: relative;
   width: 290px;
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-card .ant-card-head {
   border: none;
   /* padding: 0; */
   min-height: 40px;
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-card .ant-card-body {
   padding: 0 20px 0 20px;
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-btn {
   height: 22px;
   /* min-width: 40px; */
   font-size: 12px;
   margin-right: 8px;
   background-color: #f3eded;
}

/* .box__button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 240px;
    padding-bottom: 10px;
} */

.movies__list_rating {
   display: block;
   text-align: center;
   position: absolute;
   left: 100px;
   top: 7px;
   left: 255px;

   width: 26px;
   height: 26px;

   border: 2px solid grey;
   border-radius: 50%;
}

.yellow {
   border-color: yellow;
}

.movies__list_box {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-top: 8px;
}

.movies__list_title {
   font-size: 20px;
   width: 230px;
   padding-bottom: 8px;
   line-height: 1.2;
}

.movies__list_description {
   margin-top: 10px;
}
